@charset "UTF-8";

@media only screen and (max-width: 705px) {
  body {
    position: relative;
  }
  
  header.corDeFundo {
    height: calc(285px + 174px);
    
    transition-duration: 0.5s;
  }
  
  /*   nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    height: auto;
    } */
    
    nav > div#navegacao {
      justify-content: space-between;
      margin: 0;
    }
    
    nav > div#abstract {
      flex-wrap: wrap;
      margin: 0;
      padding-left: 15px;
    }
    
    nav > div#abstract > img {
      margin: 0px;
      margin-right: 5px;
    }
    
    #botao {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      
      padding: 10px;
      border-radius: 50%;
      transition-duration: 0.3s;
    }
    
    #botao > span.material-symbols-outlined {
      display: inline-block;
      
      color: white;
      user-select: none;
      margin: auto;
    }
    
    #botao:hover {
      background-color: rgba(163, 163, 163, 0.504);
      cursor: pointer;
    }
    
    div.menu {
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
      max-height: 0;
      overflow: hidden;
      position: absolute;
      top: 60px;
      left: 0px;
      
      width: 100%;
      background-color: #1f1f1fc8;
      margin: 0;
      
      transition-duration: 0.3s;
    }
    
    div.menu > ul > li {
      list-style-type: none;
      width: 50vw;
      
      text-align: center;
    }
    
    div.visivel {
      display: flex;
      justify-content: center;
      align-items: center;
      
      opacity: 1;
      padding: 10px 0px;
      margin-top: 5px;
      border-top: 1px solid rgba(112, 112, 112, 0.8);
      max-height: 200px;
    }
    
    header {
      margin-top: 65px;
      height: 300px;
    }
    
    header > div#search {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      
      width: 85vw;
      border-radius: 4px;
      background-color: white;
      padding: 5px 15px;
      overflow: hidden;
      margin-top: 15px;
    }
    
    main {
      margin-top: 100px;
    }
    
    main > section {
      width: 90vw;
    }
    
    main > section > article {
      justify-content: center;
      width: 90vw;
    }
    
    main > section > article > div {
      justify-content: space-evenly;
    }
    
    main > section > article > div.around {
      flex-flow: row wrap;
    }
  }
  
  @media only screen and (max-width: 695px) {
    .asidE {
      margin: auto;
    }
  }

  @media only screen and (max-width: 524px) {
    /*   nav {
    position: relative;
  }

  header {
    position: absolute;
    top: 65px;
    height: calc(300px - 65px);
  } */

  main > section > article > div.around {
    flex-flow: column wrap;
  }

  main > section > article > div.around > img {
    margin: auto;
    margin-bottom: 30px;
  }

  main > section > article > div.around > div.conteudo {
    text-align: center;
    width: 100%;
  }
}
