@charset "UTF-8";

@media only screen and (max-width: 600px) {
  header.corDeFundo {
    height: calc(285px + 174px);

    transition-duration: .5s;
  }

  header > nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    height: auto;
  }

  header > nav > div#abstract {
    flex-wrap: wrap;
    margin: 0;
    padding-left: 15px;
  }

  header > nav > div#abstract > img {
    margin: 0px;
    margin-right: 5px;
  }

  header > nav > span#botao {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    padding: 10px;
    border-radius: 50%;
    transition-duration: 0.3s;
  }

  header > nav > span#botao > span {
    display: inline-block;

    color: white;
    cursor: pointer;
    user-select: none;
    margin: auto;
  }

  header > nav > span#botao:hover {
    background-color: rgba(163, 163, 163, 0.504);
  }

  header > nav > div.menu {
    display: block;
    opacity: 0;
    max-height: 0;
    overflow: hidden;

    width: 100%;
    background-color: #1f1f1fc8;
    margin: 0;

    transition-duration: .3s;
  }

  header > nav > div.menu > ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  header > nav ul button#submit {
    font-size: clamp(15px, 2vw, 1.5rem);
    width: 95%;
  }

  header > nav ul button#signin {
    width: 95%;
  }

  header > nav > div.menu > ul > li {
    list-style-type: none;
    width: 50vw;

    text-align: center;
  }

  header > nav > div.visivel {
    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 1;
    padding: 10px 0px;
    margin-top: 5px;
    border-top: 1px solid rgba(112, 112, 112, 0.8);
    max-height: 200px;
  }
  header > menu {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 20px;

    transition-duration: .5s;
  }

  header > menu.tamanhoMenu {
    height: calc(100% - 174px);
  }

  header > menu > div#search {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    width: 85vw;
    border-radius: 4px;
    background-color: white;
    padding: 5px 15px;
    overflow: hidden;
    margin-top: 15px;
  }

  main {
    display: flex;
    flex-flow: row nowrap;
    overflow-x: hidden; /* Esconde a barra de rolagem horizontal */
    width: 100%;
    padding: 20px 0;
    touch-action: pan-y;
  }

  article {
    flex: 0 0 85vw;
    margin: 0 7.5vw;
    background: #fff;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  }
}