@charset "UTF-8";
@media only screen and (max-width: 1016px) {
  main {
    margin: 0px;
  }

  main > section > article {
    margin: auto;
  }

  /* main > section > article.asideTp {
    justify-content: center;
  }  */
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 1em;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  width: 100%;
  height: 100%;
}

nav {
  position: fixed;
  background-attachment: fixed;
  background-color: #000000;
  width: 100%;
  padding: 0px 36px;

  left: 0;
  top: 0;
  z-index: 1000;
}

div#abstract {
  display: flex;
  justify-content: center;
  align-items: center;
}

#abstract > span {
  color: white;
}

#abstract > span > strong {
  cursor: pointer;
  user-select: none;
}

nav img {
  width: 25px;
  margin: 10px 5px;
  /* margin-left: 10vw; */
  border-radius: 6px;
}

nav > #navegacao {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px 0px;
  max-width: 1300px;
  margin: auto;
}

nav span > a {
  text-decoration: none;
  color: white;
}

/* nav > div#navegacao > span#botao > span.material-symbols-outlined {
  display: none;
} */

nav button#submit {
  padding: 8px 15px;

  background-color: #1d1c1c;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.519);
  border-radius: 5px;
  cursor: pointer;
}

button#submit:hover {
  background-color: white;
  color: #1d1d1d;
  /* border: 1px solid #4c5fd5; */
}

nav button#signin {
  padding: 8px 15px;

  background-color: #4c5fd5;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

button#signin:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}

header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  background-color: #dadbf1;
  width: 100%;
  height: 400px;
  /*   height: calc(365px - 65px); */

  /* transition-duration: 0.5s; */
}

header > h1 {
  font-size: clamp(1.5rem, 8.5vw, 4rem);
}

header > div#search {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  width: 650px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.823);
  background-color: white;
  padding: 5px 15px;
  overflow: hidden;
  margin-top: 15px;

  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.263);
}

header > div#search > input {
  flex: 1;

  padding: 15px;
  border: none;
  outline: none;
  background: transparent;
  font-size: 1rem;
}

header > div#search > span {
  background-color: white;
}

#simbolo {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  background-color: white;
  height: 38px;
  user-select: none;
  cursor: pointer;
}

#botao {
  display: none;
}

main {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;

  /* height: 600px; */
  width: 100%;
  margin-top: 150px;
  margin-bottom: 50px;
}

main > section {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  max-width: 1200px;
}

main > section article {
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  /*   align-items: center; */

  /* border: 1px solid black; */
  width: 500px;
  margin-bottom: 50px;
}

main > section > article > div.around {
  display: flex;
  width: 500px;
}

main > section > article > div.around > img {
  width: auto;
  height: 80px;
  margin-right: 20px;
}

main > section > article > div.around > div.conteudo {
  width: 355px;
}

main > section > article > div.around > div.conteudo h2 {
  font-size: clamp(1rem, 1.2em, 1.5rem);
  font-weight: bolder;
}

main > section > article > div.around > div.conteudo p {
  font-size: clamp(1rem, 1.2em, 1.5rem);
  padding: 15px 0px;
  line-height: 1.5em;
}

main > section > article > div.around > div.conteudo > a {
  text-decoration: none;
  font-size: 15px;
  color: #0042c5;
}

main > section > article > div.around > div.conteudo > a > img {
  margin-left: 3px;
  width: 15px;
  height: 10px;
}

footer {
  background-color: #000000;
  padding: 50px 0px;
}

.credits {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  /* border: 1px solid red; */
  max-width: 1300px;
  margin: auto;
}

.asidE {
  display: flex;
  flex-flow: column nowrap;
  justify-content: end;
}

.asidE > main {
  margin-top: 10px;
  color: white;
}

.asidE > img {
  width: 35px;
  /* margin-left: 10vw; */
  border-radius: 25%;
}

.aside {
  padding: 20px 0px;
  margin-right: 15px;
}

.aside > p,
h3,
h4 {
  color: white;
}

.aside h3 {
  font-size: 1.2em;
  font-weight: bolder;
  margin-bottom: 10px;
}

.aside h4 {
  font-weight: bolder;
  margin-top: 20px;
}

.aside p {
  font-size: 1em;
  line-height: 1.5em;
  font-weight: normal;
}
